<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<div style="display: flex;">
    {% for image in images %}
        <div style="padding: 5px;">
            <img style="max-height: 150px; max-width: 300px; " src="{{ image.image.url }}" alt="">
        </div>
    {% endfor %}
</div>

<div>
    {% if result %}
         <h2>Введите данные!</h2>
    {% endif %}
    <form action="{% url 'main' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Введите название: </p>
        <p><input maxlength="25" size="40" name="name"></p>
        <p><input type="file" name="image">
        <p><button type="submit" name="b"> Поиск </button></p>
    </form>
</div>
</body>
</html>